/*Header*/
.header {
    overflow: hidden;
    background-color: #414042;
    padding: 20px 10px;
}

.logo {
    float: left;
}

.header-right {
    float: right;
}

.kieli {
    color: white;
    text-decoration: none;
    margin: 18px 10px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
}

.viiva {
    color: red;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 10px 10px;
    border-radius: 20px;
}

.dropdown:hover .dropbtn {
  background-color: #ED1C24;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
    cursor: pointer;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
}

.tuki {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.logout {
    background-color: #ED1C24;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 20px;
}

/*Login*/

.login {
    text-align: center; 
    background-color: #DCF4EF;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    padding: 50px;
}

.kirjaudu {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.painike {
    background-color: #414042;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin: 10px 50px;
    cursor: pointer;
    border-radius: 20px;
    width: 200px;
    outline: none;
}

.loginerror {
    display: none;
    color:red;
    font-weight: bold;
}

.kortinluku {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.unohditko {
    color: #5f5f5f;
}

/*Etusivu*/

.tausta {
    background-color: #DCF4EF;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
}

.wrapper {
    margin: auto;
    max-width: 75rem;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.flex_container {
    display: flex;
}

.flex_item {
    flex:1; 
    margin-left: 110px;
}

.luku {
    width: 70%;
    max-width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.muokkaus {
    width: 70%;
    max-width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.submit {
    background-color: #414042;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    margin: 10px 50px;
    cursor: pointer;
    border-radius: 20px;
}

.tietosuoja {
    cursor: pointer;
    text-decoration: underline;
}

/*Tietojen poistopopup*/

.delpopup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.vahvistapopup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #DCF4EF;
    margin: 15% auto;
    padding: 100px 20px;
    border: 1px solid #888;
    border-radius: 20px;
    max-width: 30rem;
    font-size: 30px;
    text-align: center;
}

.lisatieto {
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

.poistolisatietopopup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.poistolisatietopopup p {
    font-size: 16px;
    text-align: left;
}

.close {
    background-color: #414042;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 20px;
}

.vahvista {
    background-color: #ED1C24;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}